<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  <script src="https://aframe.io/releases/0.9.1/aframe.min.js"></script>
<script src="https://cdn.rawgit.com/jeromeetienne/AR.js/1.7.1/aframe/build/aframe-ar.js"></script>
  <a-scene embeded arjs="trackingMethod: best">
    <a-anchor hit-testing-enabled="true">
      <a-entity id="mario" piramid></a-entity>
      <a-plane width="5" height="5" rotation="-100 0 0" position="0 -3 -2" color="<%= color %>"></a-plane>
      <a-text width="4" height="4" position="0 -2 -2" value="Name: <%= name %>" rotation="-100 0 0" color="white"></a-text>
      <a-text width="4" height="4" position="0 -2 -3" value="Karma: <%= karma %>" rotation="-100 0 0" color="white"></a-text>
      <a-text width="4" height="4" position="0 -2 -2.3" value="Email: <%= email %>" rotation="-100 0 0" color="white"></a-text>
    </a-anchor>
    <a-camera-static />
  </a-scene>
  <div class="tabs">
      <p class="tab"><a href="grattitud">Grattitud</a></p>
      <p class="tab"><a href="bamboo">Bamboo</a></p>
  </div>
</html>